<%= form_for(@citum) do |f| %>
  <% if @citum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citum.errors.count, "error") %> prohibited this citum from being saved:</h2>

      <ul>
      <% @citum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :tema %><br>
    <%= f.text_area :tema, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
