<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @citum.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @citum.tema %>
</p>

<p>
  <strong>Status:</strong>
  <%= @citum.status %>
</p>

<%= link_to 'Edit', edit_citum_path(@citum) %> |
<%= link_to 'Back', cita_path %>
