<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @articulo.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @articulo.contenido %>
</p>

<p>
  <strong>Status:</strong>
  <%= @articulo.status %>
</p>

<p>
  <strong>Url:</strong>
  <%= @articulo.url %>
</p>

<%= link_to 'Editar', edit_articulo_path(@articulo) %> |
<%= link_to 'Regresar', articulos_path %>
